*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:  #ffe467;
    color: black;
    font-size: 20px;
    font-family: 'Contrail One', cursive;
}
.navbar-toggler{

background-color: rgba(0, 0, 0, 0.726);    
}

.navbar-toggler i{

    color: white;
    font-size: 30px; 
    }
    

.navbar a{
    color: black;
}

.navbar span{
    text-decoration: underline;
}
.imagenlogo {
    display: flex;
    justify-content: center;
  }

  .button span{

    color: black;
    background-color: coral;
  }

  .nav-item a:hover{
    transition: 0.8s;
    font-size: 28px;
    color: rgb(47, 218, 161);

  }

 
  #navgedadorentero{
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;

 
  }

  
  
  .jumbotron{
    background-color: #ffe467;
    background-image: linear-gradient( #ffe467, rgb(47, 218, 161));
    border-radius: 0%;
    margin: 0;
    text-align: center;
    
 
  }

  .jumbotron h1{
    font-family:'Contrail One';
    text-shadow: 20px 0 0 rgb(30, 233, 165);    
  }

  .jumbotron p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }

  h3{
    background-image: linear-gradient( rgb(47, 218, 161), #ffffff);
    height: 100px;
    text-align: right;
    padding-right: 70px;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif, cursive;
  }



.fondo{
    background-image: url(./img/Fresh.jpg);
    background-position: center;
    height: 100vh;
    background-size:contain;
}
  .nuestrasmarcas{

    padding-left: 50px;
    width: 100%;
    padding-top: 200px;


  }

.Kongo{
    border: solid 5px #ffe467;
    padding: 50px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Contrail One', cursive;
}
.G_F{
    border: solid 5px #ffe467;
    padding: 50px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Contrail One', cursive;
}
.Luxo{
    border: solid 5px #ffe467;
    padding: 50px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Contrail One', cursive;

}
.H_W{
    border: solid 5px #ffe467;
    padding: 50px;
    background-color: #ffffff;
    text-align: center;
    font-family: 'Contrail One', cursive;

}

.img1{
    height: 200px;
    width: 200px;
  
}

.img2{
    height: 200px;
    width: 200px;
  
}
.img3{
    height: 200px;
    width: 200px;
   
}
.img4{
    height: 200px;
    width: 200px;
   
}

footer{
    height: 100px;
    width:  100% ;
    background-color: rgb(47, 218, 161);
    font-size: 20px;
    padding: 0px;
    font-family: 'Contrail One', cursive;
    text-align: center;
}

footer a {

    color: rgb(0, 0, 0);
    font-size: 40px;
    letter-spacing: 20px;
}

.img-rem{

    background-image: url(./img/remera.jpg);
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffe467;

}



.titulo-rem{
    background-color: #f3c807;
    background-image: url(./img/fondoProductos.jpg);
    background-size: contain;
    
    padding-top: 200px;
    text-align: center;
    font-family:'Contrail One';
    text-shadow: 20px 0 0 rgb(0, 0, 0);   
    color: white;
}

.titulo-rem :hover{

    transition: 2.0s;
    color: rgb(47, 218, 161);

}

.img-buzo{
       background-image: url(./img/buzo.jpg);
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffe467;

}

.img-pantoles{
    background-image: url(./img/pantalon.jpg);
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffe467;

}

.img-gorra{
    background-image: url(./img/gorra.jpg);
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffe467;

}

.contacto{
    display: flex;
       background-image: url(../img/bienvenido.jpg);
       height: 100vh;
       width: 100%;
   justify-content: space-evenly;
   align-items: center;
}   

.contc{
    height: 450px;
    width: 650px;
font-family: 500px'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
background-color: #ffe367e5;

border-radius: 10%;
text-align: center;

}

.video{
    box-shadow: inset 500px 800px 500px gold;
}

.paginaNosotros{
    height: 100vh;
    width: 100%;
    background-image: url(../img/local.jpg);
}

.FreshManifiesto{
    display: flex;
    margin: 200px;
flex-direction: row-reverse  ;
flex-wrap: wrap;
justify-content: center right;
justify-content: space-evenly;
align-items: center;

}

.paginaubicacion{
    height: 100vh;
    width: 100%;
    background-image:url(../img/244404656_1482458862121576_9093992704945517272_n.jpeg) ;
    background-size: contain;

}

.paginaubicacion p{
    font-size: 20px;
    color: aliceblue;
    background-color: none;
    padding: 100px;
    margin-left: 580px;
  width: 40%;
  text-align: center;   
  text-decoration: double currentColor;
  

}

.mapa{
    display: block;
    margin-top: 50px;
}